<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kirillrychkov.fridge1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bluda" />
        <activity android:name=".vegan" />
        <activity android:name=".miasoed" />
        <activity android:name=".Postnayaeda" />
        <activity android:name=".zavtrak" />
        <activity android:name=".uzhin" />
        <activity android:name=".obed" />
        <activity android:name=".zavtrak2" />
        <activity android:name=".obed2" />
        <activity android:name=".uzhin2" />
        <activity android:name=".zavtrak3" />
        <activity android:name=".obed3" />
        <activity android:name=".uzhin3"></activity>
    </application>

</manifest>